* {
    margin: 0;
}

.header {
    display: flex;
    margin: 80px 100px;
 
}

.boy img  {
  border-radius: 10px;
  height: 400px;
  width: 250px;
  position: relative;

}

.main img {
    position: absolute;
    left: 240px;
    top: 150px;
    bottom: 50px;
    border: 4px solid white;
    height: 250px;
    width: 200px;
    
}

.footer {
    margin-left: 140px;
    margin-top: 60px;
    
}

.footer h2 p {
    display: flex;
}

.footer-left   {
   margin-top: 10px;
   display: flex;
   gap: 20px;
 

}

.gool {
    
   
}

.footer-ss h5 {
    color: red;


}



